
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Ayuda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <!-- //online-fonts -->

</head>
<body>
    <div class="sidenav">
        <div class="row side_top">
            <div class="col-4 side_top_left">
                <img src="~/img/help/question.png" alt="news image" class="img-fluid navimg">
            </div>
            <div class="col-8 side_top_right">
                <h6>Ayuda</h6>
            </div>
        </div>
        <header>
            <div class="container-fluid px-md-5 ">
                <nav class="mnu mx-auto">
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="active"><a href="#ingreso" class="scroll">Ingreso al Sistema</a></li>
                        <li class="mt-sm-3"><a href="#inicio" class="scroll">Pantalla de inicio</a></li>
                        <li class="mt-sm-3"><a href="#mantenimientoUsuarios" class="scroll">Mantenimiento de Usuarios</a></li>
                        <li class="mt-sm-3"><a href="#mantenimientoCategorias" class="scroll">Mantenimiento de Categorías</a></li>
                        <li class="mt-sm-3"><a href="#mantenimientoGruposTrabajos" class="scroll">Mantenimiento de Grupos y Trabajos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="wthree_pvtits-services align-w3" id="ingreso">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h3 class="w3_head">Ingreso al Sistema</h3>
                <img src="~/img/help/ingreso.png" class="img-fluid" alt="">
                <p class="main_p mb-5  text-center mx-auto">1.1. Ingresar el usuario: admin@admin.com</p>
                <p class="main_p mb-5  text-center mx-auto">1.2. Ingresar la contraseña: administrador</p>
                <p class="main_p mb-5  text-center mx-auto">1.3. Ingresar: permite ingresar al sistema</p>
                <p class="main_p mb-5  text-center mx-auto">Nota: Los dos anteriores son de prueba para el ingreso al sistema.</p>
                <p class="main_p mb-5  text-center mx-auto">1.3. Recordar la contraseña:</p>
                <p class="main_p mb-5  text-center mx-auto">1.3.1. Le permitirá recordar la contraseña, ingresando su correo electrónico.</p>
                <img src="~/img/help/recordar.png" class="img-fluid" alt="">
            </div>
        </div>
        <!-- about -->
        <section class="slide-wrapper" id="inicio">
            <h3 class="w3_head">Pantalla de inicio</h3>
            <img src="~/img/help/inicio.png" class="img-fluid" alt="">
        </section>
        <!-- //about -->
        <!-- news -->
        <div class="news" id="mantenimientoUsuarios">
            <div class="text-center">
                <h2 class="w3_head">Mantenimiento de Usuarios</h2>
                <img src="~/img/help/modificarUsuario.png" class="img-fluid" alt="">
                <p class="main_p mb-5  text-center mx-auto">2.1.1. Modificar: permite seleccionar un usuario y modificar los siguientes aspectos: </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.1 Nombre </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.2. Apellido 1:  primer apellido </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.3. Apellido 22:  segundo apellido </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.4. Número de cédula </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.5. Correo electrónico </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.6. Número de grupo </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.7. Perfil: estudiante, profesor</p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.8. Contraseña </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.9. Modificar: permite hacer el cambio al usuario </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.1.10. Volver: permite volver al inicio sin modificar </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2 Agregar: permite agregar usuarios</p>
                <img src="~/img/help/agregarUsuario.png" class="img-fluid" alt="">
                <p class="main_p mb-5  text-center mx-auto">2.1.2.1 Nombre </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.2. Apellido 1:  primer apellido </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.3. Apellido 2:  segundo apellido </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.4. Número de cédula </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.5. Correo electrónico </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.6. Número de grupo </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.7. Perfil: estudiante, profesor </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.8. Contraseña </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.9. Agregar: permite agregar usuario </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2.10. Volver: permite volver al inicio sin agregar </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.2. Eliminar: permite seleccionar un usuario y así eliminarlo</p>
                <img src="~/img/help/eliminarUsuario.png" class="img-fluid" alt="">
                <p class="main_p mb-5  text-center mx-auto">2.1.3.1. Correo electrónico </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.3.2 Nombre </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.3.3. Apellido 1:  primer apellido </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.3.4. Eliminar: permite eliminar usuario </p>
                <p class="main_p mb-5  text-center mx-auto">2.1.3.5. Volver: permite volver al inicio sin eliminar</p>
            </div>
            <!-- //news -->
            <!--services-->
            <div class="wthree_pvtits-services align-w3" id="mantenimientoCategorias">
                <div class="container">
                    <div class="wthree_pvt_title text-center">
                        <h2 class="w3_head">Mantenimiento de Categorías</h2>
                        <img src="~/img/help/nuevaCategoria.png" class="img-fluid" alt="">
                        <p class="main_p mb-5  text-center mx-auto">Agregar: permite agregar una categoría y un estado</p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.1.1 Nombre </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.1.2. Descripción </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.1.3. Seleccione un estado: ACTIVO o INACTIVO </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.1.4. Modificar: permite hacer el cambio al usuario </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.1.5. Volver: permite volver al inicio sin agregar </p>
                        <img src="~/img/help/modificarCategoria.png" class="img-fluid" alt="">
                        <p class="main_p mb-5  text-center mx-auto">2.2.2 Modificar: permite modificar la categoría de los usuarios usuarios </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.2.1. Selecciona una categoría a calificar </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.2.2. Seleccionar: para ingresar </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.2.2.1 Nombre de la categoría </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.2.2.2. Descripción de la categoría </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.2.2.3. Modificar: permite hacer el cambio de categoría al usuario </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.2.2.4. Volver: permite volver al inicio sin hacer el cambio de categoría al usuario </p>
                        <img src="~/img/help/eliminarCategoria.png" class="img-fluid" alt="">
                        <p class="main_p mb-5  text-center mx-auto">2.2.2. Eliminar: permite seleccionar una categoría usuario y así eliminarlo</p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.3.1. Selecciona una cualidad a calificar </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.3.2. Seleccionar: para ingresar </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.3.2.1 Nombre de la categoría </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.3.2.2. Descripción de la categoría </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.3.2.3. Modificar: permite eliminar la categoría al usuario </p>
                        <p class="main_p mb-5  text-center mx-auto">2.2.3.2.4. Volver: permite volver al inicio sin eliminar la categoría al usuario </p>
                    </div>
                </div>
                <!-- //services-->
                <!-- contact -->
                <div class="wthree_pvtits-services align-w3" id="mantenimientoGruposTrabajos">
                    <div class="container">
                        <div class="wthree_pvt_title text-center">
                            <h2 class="w3_head">Mantenimiento de Grupos y Trabajos</h2>
                            <img src="~/img/help/nuevoTrabajo.png" class="img-fluid" alt="">
                            <p class="main_p mb-5  text-center mx-auto">2.3.1.1 Nombre del Grupo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.1.2. Crear: permite crear un nuevo grupo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.1.3. Volver: permite volver al inicio sin crear un nuevo grupo</p>
                            <img src="~/img/help/asignarTrabajo.png" class="img-fluid" alt="">
                            <p class="main_p mb-5  text-center mx-auto">2.3.2 Asignar Trabajo: permite asignar trabajos a un grupo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.2.1 Selecciona un grupo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.2.2. Ingresa un asunto </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.2.3. Ingresa una descripción </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.2.4. Asignar: Asigna el trabajo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.2.5. Volver: permite volver al inicio sin asignar un trabajo </p>
                            <img src="~/img/help/asignarTarea.png" class="img-fluid" alt="">
                            <p class="main_p mb-5  text-center mx-auto">2.3.3. Asignar Tarea: permite asignar tareas a un grupo 2.3.3.1.</p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.3.1. Selecciona un grupo</p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.3.2. Continuar: para asignar un trabajo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.3.3. Selecciona un trabajo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.3.4. Continuar </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.3.5. Asignar: Asigna el trabajo  </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.3.6. Volver: permite volver al inicio sin asignar un trabajo</p>
                            <img src="~/img/help/calificarTrabajo.png" class="img-fluid" alt="">
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.1. Selecciona un grupo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.2. Continuar: para asignar un trabajo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.3. Selecciona un trabajo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.4. Continuar </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.5. Selecciona un estudiante </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.6. Continuar</p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.7. Ve el grupo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.8. Ve el trabajo </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.9. Selecciona una tarea </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.10. Ve la definición de las escalas: los puntajes A+ = 25, A = 22 , B =15 y C =5 </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.11. Observa la categoría </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.12. Escoge la calificación </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.13. Guarda calificaciones </p>
                            <p class="main_p mb-5  text-center mx-auto">2.3.4.14. Volver: permite volver al inicio</p>
                        </div>
                    </div>
                    <!-- //contact -->

                </div>

</body>
</html>